@model GameSpy.DTOs.UserDTO
@using GameSpy.Areas.Identity.Data
@using GameSpy.DTOs
@using Microsoft.AspNetCore.Identity;

@inject MySIgnInManager SignInManager
@inject UserManager<AppUser> userManager;

<head>
    <link rel="stylesheet" href="~/css/userCss.css" />

    <script>
        window.onpageshow = function (event) {
            if (event.persisted == true) {
                window.location.reload();
            }
        };
    </script>
</head>

<body class="bg-dark">
    <div class="container-fluid d-flex vh-100 bg-dark p-0">
        <div class="col-2 my-border">
            <div class="w-100 p-3 d-flex">
                <div class="flex-grow-1">
                    <h2 class=" ff-utnr">GameSpy</h2>
                </div>
                <div class="flex-grow-1 align-text-right">
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <img class="logout" src="~/assets/exit.png"></img>
                    </a>
                </div>
            </div>
            <div class="h-35  w-100 userInfo">
                <img href="#" src="~/assets/profilePictures/@Model.ProfilePicture" class="profile-picture"></img>
                <h3 class="ff-utnr pt-2">@Model.UserName</h3>
            </div>
            <div class="h-54 w-100 d-flex">
                <div class="flex-grow-1 h-25">
                    <p class=" ff-utnr text-center f-size-18">Games</p>
                    <p class=" ff-utnr text-center f-size-18">@Model.NumberOfGames</p>
                </div>
                <div class="flex-grow-1 h-25">
                    <p class=" ff-utnr text-center f-size-18">Achievements</p>
                    <p class=" ff-utnr text-center f-size-18">@Model.NumberOfAchievements</p>
                </div>
            </div>
        </div>
        <div class="col-8 my-border px-5">
            <div class="w-100 mx-3 mt-3">
                <h2 class="ff-utnr">Recently Played</h2>
            </div>
            <div class="h-28 d-flex w-100 overflow-auto">
                @{
                    if (Model.RecentGames.Count != 0)
                    {
                        for (int i = 0; i < 6; i++)
                        {
                            <a asp-controller="Game" asp-action="SelectedGame" asp-route-id="@Model.RecentGames[i].Gameid">
                                <div class="d-inline-block">
                                    <figure class="mx-3 mt-2 game-holder" style="--c:#fff5">
                                        <img class="custom-image-size" src="~/assets/games/@Model.RecentGames[i].Image" alt="@Model.RecentGames[i].Image">
                                        <figcaption>@Model.RecentGames[i].Name</figcaption>
                                    </figure>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <div class="w-100 h-100 align-content-center">
                            <h3 class="align-text-center ff-utnr">No Recently Played Games</h3>
                        </div>
                    }
                }

            </div>
            <div class="h-8 pt-1">
                <div class="h-20 w-100 px-3">
                    <h2 class=" ff-utnr">Your Games</h2>
                </div>
            </div>

                @{
                    if (Model.Games.Count != 0)
                    {
                        <div class="h-54 d-inline-block overflow-auto">
                            @foreach (GameDTO game in Model.Games)
                            {
                                <a asp-controller="Game" asp-action="SelectedGame" asp-route-id="@game.Gameid">
                                    <div class="d-inline-block">
                                        <figure class="mx-3 game-holder mt-3" style="--c:#fff5">
                                            <img class="custom-image-size" src="~/assets/games/@game.Image" alt="@game.Image">
                                            <figcaption>@game.Name</figcaption>
                                        </figure>
                                    </div>
                                </a>
                            }
                        </div>

                    }
                    else
                    {
                        <div class="w-100 h-54 align-content-center">
                            <h2 class="align-text-center ff-utnr">You did not played any game yet!</h2>
                        </div>
                    }
                }
        </div>
        <div class="col-2 my-border">
            <div class="h-9 d-flex bottom-border px-2">
                <div class="flex-grow-1 ff-utnr h2 mt-3">
                    <a asp-controller="User" asp-action="AddBalance" asp-route-id="@Model.Id">
                        <i class="bi bi-plus-square"></i>
                    </a>
                </div>
                <div class="flex-grow-1 align-text-right ff-utnr h2 mt-3">
                    @Model.Balance $
                </div>
            </div>
            <div class="h-75"></div>
            <div class="h-16 d-flex flex-column align-items-end px-2">
                <div class="h-25 my-1 d-flex justify-content-end w-100">
                    <a asp-controller="User" asp-action="UserSettings" asp-route-id="@Model.Id" class="d-flex">
                        <p class="ff-utnr">Settings</p>
                        <img href="#" src="~/assets/settings.png" class="icons mx-1"></img>
                    </a>
                </div>
                <div class="h-25 my-1 d-flex justify-content-end w-100">
                    <a asp-action="UserHelp" asp-controller="User" class="d-flex">
                        <p class="ff-utnr">Help and Support</p>
                        <img href="#" src="~/assets/help.png" class="icons mx-1"></img>
                    </a>
                </div>
                <div class="h-25 my-1 d-flex justify-content-end w-100">
                    <a asp-action="UserPrivacy" asp-controller="User" class="d-flex">
                        <p class="ff-utnr">Privacy</p>
                        <img href="#" src="~/assets/privacy.png" class="icons mx-1"></img>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>